
.App {
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    /* border: 2px solid grey; */
    margin-top: 100px;
}

.combine-compenents {
    width: 900px;
    height: 1200px;
    background-image: url("Home_Screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid grey;
    margin: 0 auto;
}

.login-div {
  width: 900px;
  height: 1200px;
  border: 2px solid grey;
  background-image: url("Login.png");
  background-repeat: no-repeat;
  background-size: 900px 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logout {
  background: #509ce2;
}

.thankyou-text {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  width: 70%;
}

