a {
  text-decoration: none;
}

.bm-morph-shape {
  fill: rgb(249, 249, 249, 1);
}

.menu-item, .menu-item--small {
  color: #509ce2;;
  font-size: 2em;
  margin: 3em 1em;
  font-weight: 700;
}

.bm-cross {
  /* font-size: 4em; */
  background-color: #509ce2;;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #83c9fc;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #509ce2;
}

.bm-menu {
  background: rgb(249, 249, 249, 1);
}