.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.feelings {
  text-align: center;
  margin-bottom: 0px;
}

/* .scaler {
  width: 900px;
  height: 600px;
} */

.wordbank-container {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.word-div {
  width: 70%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

button {
  /* background: #509CE2 !important; */
  color: white;
  /* width: 200px; */
  height: 50px;
  border-radius: 10px;
  font-size: 2em;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.submit {
  background: #509CE2;
}
textarea {
  width: 80%;
  height: 200px;
  font-size: 2.5em;
  font-family: robotto;
  padding: 20px;
  margin-bottom: 20px;
}

.button-checked {
background-color:grey;
}

.button-unchecked {
background-color:#509CE2 !important;
}

/* .slider-background {
  background-image: url("Slider.svg");
  width: 800px;
  height: 175px;
  margin-top: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
} */

.slider-bar {
  /* border: 2px solid green; */
  z-index: 2;
  margin-top: 50px;
}

.slider-back {
  display: flex;
  justify-content: space-between;
}

.slider-foreground {
  width: 100%;
  display: flex; 
  flex-basis: 20% 20% 20% 20% 20%;
}

.slider-foreground-child {
  background:red;
}

.slider-bar {
  text-align: center;
  font-weight: 500;
  font-size: 1em;
}